<h3>Lista de Tarefas</h3>

<div style="display:flex; gap:12px; align-items:center; margin-bottom:8px;">
  <span>Total: {{ total }}</span>
  <span>Concluídas: {{ concluidas }}</span>
  <span>Pendentes: {{ pendentes }}</span>
  <a routerLink="/cadastrar" style="margin: left 8px;;">Cadastrar nova</a>
</div>

@if (tarefas.length === 0) {
  <p>Nenhuma tarefa cadastrada</p>
}

@for (t of tarefas; track t.id) {
  <div style="display:flex; gap:8px; align-items:center; margin-bottom:6px;">
    <input type="checkbox" [checked]="t.concluida" (change)="concluir(t.id)">
    <span>{{ t.tarefa }} — {{ t.responsavel }} — {{ t.data }}</span>
    @if (t.materia) { <small>({{ t.materia }})</small> }

    <button type="button" (click)="remover(t.id)" style="margin-left:8px;">
     Remover
    </button>

  </div>
}



